<center><h1 style="color:green;">Laboratorio 2</h1></centre>

<h1 style="color:blue;">Helen Alcivar</h1>
<h1 style="color:blue;">Mineria de datos</h1>

In [1]:
'''Realizamos la importacion de la libreria que nos ayuda para la carga de nuestro dataset y la libreria json '''
import pandas as pd

In [2]:
'''Realizamos la carga y leemos nuestro dataset'''
df = pd.read_csv('data_act_01.csv', sep=";")
'''Imprimimos nuestro dataset'''
df

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,Range,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,NaN,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,NaN,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,NaN,Intersection
...,...,...,...,...,...,...,...,...,...,...,...,...
10046,160964210,Well Being Check,2016-04-05T00:00:00,23:38,2016-04-05T23:38:00,GOA,Hollister Av/hawes St,San Francisco,CA,1,NaN,Intersection
10047,160964216,Traffic Stop,2016-04-05T00:00:00,23:43,2016-04-05T23:43:00,ADV,California St/mason St,San Francisco,CA,1,NaN,Intersection
10048,160964227,Traffic Stop,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,CIT,Rosella Ct/onondaga Av,San Francisco,CA,1,NaN,Intersection
10049,160964229,Passing Call,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,Not recorded,0 Blk Herbst Rd,San Francisco,CA,1,NaN,Geo-Override
10050,160964249,Traffic Stop,2016-04-05T00:00:00,23:54,2016-04-05T23:54:00,ADV,Grant Av/geary St,San Francisco,CA,1,NaN,Intersection

Tal y como se muestra trata de la mala sintaxis al momento de cargar el dataset con extension csv. Se detecto el problema por que al momento de cargar los datos la impresion del dataset se visualizÃ¡ de una manera inapropiada y poco entendible con las colunmas todas juntas hacia un costado y el encabezado no esta bien distribuido con la colunma especifica. Es un problema por que para empezar hacer un ejercicio  se debe primero entender de que trata el dataset pero con la impresion de dichos datos bien estructurados y asi conocer con que colunmas se van a trabajar y con cuales no son necesarias.

### AnÃ¡lisis del DataSet

In [11]:
'''Realizamos el analisis del  dataset mediante el comando shape'''
df.shape

(10051, 12)

In [12]:
'''Utilizamos la funciÃ³n info() para verificar la informacion acerca de las columnas que posee el dataset'''
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CrimeId                10051 non-null  int64
 1   OriginalCrimeTypeName  10051 non-null  object
 2   OffenseDate            10051 non-null  object
 3   CallTime               10051 non-null  object
 4   CallDateTime           10051 non-null  object
 5   Disposition            10051 non-null  object
 6   Address                10051 non-null  object
 7   City                   9730 non-null   object
 8   State                  10048 non-null  object
 9   AgencyId               10051 non-null  object
 10  Range                  0 non-null      float64
 11  AddressType            10051 non-null  object
dtypes: float64(1), int64(1), object(10)
memory usage: 942.4+ KB

In [13]:
'''Utilizamos la funcion O para verificar las variables categÃ³ricas'''
df.describe(include='O')

,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
count,10051,10051,10051,10051,10051,10051,9730,10048,10051,10051
unique,575,9,1416,5116,19,5387,8,1,2,6
top,Traffic Stop,2016-04-02T00:00:00,17:39,2016-04-04T12:23:00,HAN,900 Block Of Market St,San Francisco,CA,1,Premise Address
freq,1215,2259,19,8,2820,58,9665,10048,10048,5059

### Error 1 ElinaciÃ³n de la colunma Range

In [3]:
'''Ocupamos el comando drop para eliminar la colunma Range'''
data = df.drop(['Range'], axis=1)
data

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,Intersection
...,...,...,...,...,...,...,...,...,...,...,...
10046,160964210,Well Being Check,2016-04-05T00:00:00,23:38,2016-04-05T23:38:00,GOA,Hollister Av/hawes St,San Francisco,CA,1,Intersection
10047,160964216,Traffic Stop,2016-04-05T00:00:00,23:43,2016-04-05T23:43:00,ADV,California St/mason St,San Francisco,CA,1,Intersection
10048,160964227,Traffic Stop,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,CIT,Rosella Ct/onondaga Av,San Francisco,CA,1,Intersection
10049,160964229,Passing Call,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,Not recorded,0 Blk Herbst Rd,San Francisco,CA,1,Geo-Override
10050,160964249,Traffic Stop,2016-04-05T00:00:00,23:54,2016-04-05T23:54:00,ADV,Grant Av/geary St,San Francisco,CA,1,Intersection

Tal y como se muestra el segundo error trata de una colunma con valores NaN este es un valor innecesario que debe eliminarse para analizar correctamente el conjunto de datos.Se detecto el problema por que al momento de cargar los datos del dataset se visualiza la colunma Range posee puros datos Nan,entonces se decidio eliminar por que no influye en nuestro dataset.

### Error 2 Exceso de mayusculas y minusculas

In [4]:
'''Realizamos el exceso de las mayusculas y minusculas en la colunma de City, donde existen
registros con nombres: San Francisco,S,0 y seran sustituidos por SAN FRANCISCO con el comando  replace '''
data['City'] = data['City'].replace('San Francisco','SAN FRANCISCO')
data['City'] = data['City'].replace('S','SAN FRANCISCO')
data['City'] = data['City'].replace('0','SAN FRANCISCO')
data.groupby('City').count()

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,State,AgencyId,AddressType
City,,,,,,,,,,
S,1,1,1,1,1,1,1,0,1,1
Brisbane,1,1,1,1,1,1,1,1,1,1
Daly City,5,5,5,5,5,5,5,5,5,5
Presidio,3,3,3,3,3,3,3,3,3,3
SAN FRANCISCO,9666,9666,9666,9666,9666,9666,9666,9666,9666,9666
Treasure Isla,51,51,51,51,51,51,51,51,51,51
Yerba Buena,3,3,3,3,3,3,3,3,3,3

Tal y como se muestra el segundo error trata de el exceso de mayuscula y minuscula en el dataset.Se detecto el problema por que al momento de cargar los datos del dataset se lo visualiza en la colunma city registros con nombres como : San Francisco,S,0 y seran sustituidos por el nombre de SAN FRANCISCO.El principal problema de estos registros mal estructurados es que al momento de hacer una consulta el programa no se encuentre capaz de reconocer la informacion y de errores. Por ende es mejor trabajar con un mismo tipo de letra y asi no tener complicaciones al momento de hacer alguna consulta.

### Error 3 de reemplazo de la columna Disposition con la moda

In [5]:
data['Disposition'].unique()
moda= df['Disposition'].mode()
data['Disposition']= data['Disposition'].replace('22', moda[0])
data

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,SAN FRANCISCO,CA,1,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,SAN FRANCISCO,CA,1,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,SAN FRANCISCO,CA,1,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,SAN FRANCISCO,CA,1,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,SAN FRANCISCO,CA,1,Intersection
...,...,...,...,...,...,...,...,...,...,...,...
10046,160964210,Well Being Check,2016-04-05T00:00:00,23:38,2016-04-05T23:38:00,GOA,Hollister Av/hawes St,SAN FRANCISCO,CA,1,Intersection
10047,160964216,Traffic Stop,2016-04-05T00:00:00,23:43,2016-04-05T23:43:00,ADV,California St/mason St,SAN FRANCISCO,CA,1,Intersection
10048,160964227,Traffic Stop,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,CIT,Rosella Ct/onondaga Av,SAN FRANCISCO,CA,1,Intersection
10049,160964229,Passing Call,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,Not recorded,0 Blk Herbst Rd,SAN FRANCISCO,CA,1,Geo-Override
10050,160964249,Traffic Stop,2016-04-05T00:00:00,23:54,2016-04-05T23:54:00,ADV,Grant Av/geary St,SAN FRANCISCO,CA,1,Intersection

Tal y como se muestra el tercer error trata de la colunma Disposition con un registro de forma numerica.Asi mismo se detecto el problema al momento de cargar el dataset y su resultado tiene un valor numerico , por ende se ocupo para la solucion el comando replace en el registro de "22" pero primero se establece la columna que sera reemplazada con la moda establecida.El principal problema de estos registros es que al momento de cargar las colunmas deben estar tanto texto o todos numericos para poder realizar una

In [10]:
data['Disposition'].unique()

array(['REP', 'GOA', 'ADV', 'HAN', 'ND', 'ARR', 'UTL', 'Not recorded',
       'CIT', 'PAS', 'ABA', 'NOM', 'ADM', 'CAN', 'INC', 'NCR', 'CRT',
       'SFD'], dtype=object)

### Error 4 Repeticion de palabras en la colunma AddressType

In [7]:
'''Visualizamos en la columna AddressType los resultados de cada uno de los registros con el comando 
unique.'''
data['AddressType'].unique()

array(['Premise Address', 'Intersection', 'Common Location',
       'Geo-Override', 'Intersectioon', '1'], dtype=object)

In [8]:
'''Realizamos el reemplazo de la columna AddressType con las palabras de Intersectioon la cambiamos con Intersection para
una mejor compresiÃ³n del dataset.'''
data['AddressType']= data['AddressType'].replace('Intersectioon','Intersection')
data['AddressType'].unique()

array(['Premise Address', 'Intersection', 'Common Location',
       'Geo-Override', '1'], dtype=object)

In [9]:
'''Visualizamos que el remplazo se haya echo correctamente'''
data['AddressType'].unique()

array(['Premise Address', 'Intersection', 'Common Location',
       'Geo-Override', '1'], dtype=object)

### Error 5 Reemplazo de los valores nulos en la columna State

In [15]:
valnulos = data.isna().sum()
valnulos

CrimeId                    0
OriginalCrimeTypeName      0
OffenseDate                0
CallTime                   0
CallDateTime               0
Disposition                0
Address                    0
City                     321
State                      3
AgencyId                   0
AddressType                0
dtype: int64

In [17]:
'''Realizamos el reemplazo de los valores nulos de la columna State por la palabra Ninguno'''
values = {'State': 'Ninguno'}
data.fillna(value=values, inplace=True)
'''Visualizar los registros con datos nulos'''
data[data.isna().any(1)]

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
86,160920001,Traffic Stop,2016-04-01T00:00:00,0:00,2016-04-01T00:00:00,ADM,16th/deharo,NaN,CA,1,Geo-Override
88,160920004,Passing Call,2016-04-01T00:00:00,0:00,2016-04-01T00:00:00,HAN,Duboce Triangle,NaN,CA,1,Geo-Override
100,160920020,Passing Call,2016-04-01T00:00:00,0:05,2016-04-01T00:05:00,HAN,9th Ave/irving St,NaN,CA,1,Geo-Override
112,160920032,Passing Call,2016-04-01T00:00:00,0:13,2016-04-01T00:13:00,HAN,3rd Ave & Geary Blvd,NaN,CA,1,Geo-Override
117,160920043,Passing Call,2016-04-01T00:00:00,0:18,2016-04-01T00:18:00,Not recorded,Geary/3rd Ave,NaN,CA,1,Geo-Override
...,...,...,...,...,...,...,...,...,...,...,...
9867,160963421,Passing Call,2016-04-05T00:00:00,19:07,2016-04-05T19:07:00,Not recorded,Crocker Amazon Park,NaN,CA,1,Geo-Override
9923,160963626,Passing Call,2016-04-05T00:00:00,20:11,2016-04-05T20:11:00,Not recorded,Haight Street Corridor,NaN,CA,1,Geo-Override
10029,160964141,Passing Call,2016-04-05T00:00:00,23:09,2016-04-05T23:09:00,HAN,101 Broad,NaN,CA,1,Geo-Override
10032,160964151,Passing Call,2016-04-05T00:00:00,23:14,2016-04-05T23:14:00,HAN,Division/harrison,NaN,CA,1,Geo-Override
10033,160964157,Passing Call,2016-04-05T00:00:00,23:16,2016-04-05T23:16:00,HAN,Campton Alley,NaN,CA,1,Geo-Override

### Error 6 Reemplazo de los valores nulos en la columna City

In [20]:
'''Reemplazo de los valores nulos de la columna City por NA'''
values = {'City': 'NA'}
data.fillna(value=values, inplace=True)
'''Visualizar los registros con datos nulos'''
data[data.isna().any(1)]

Empty DataFrame
Columns: [CrimeId, OriginalCrimeTypeName, OffenseDate, CallTime, CallDateTime, Disposition, Address, City, State, AgencyId, AddressType]
Index: []

In [21]:
valnulos = data.isna().sum()
valnulos

CrimeId                  0
OriginalCrimeTypeName    0
OffenseDate              0
CallTime                 0
CallDateTime             0
Disposition              0
Address                  0
City                     0
State                    0
AgencyId                 0
AddressType              0
dtype: int64

### Error 7 Datos duplicados

In [22]:
'''Visualizamos los registros duplicados del conjunto de datos'''
data[data.duplicated(subset=['CrimeId'], keep=False)]

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
26,160913455,Vandalism,2016-03-31T00:00:00,20:53,2016-03-31T20:53:00,ND,1600 Block Of Sunnydale Av,SAN FRANCISCO,CA,1,Premise Address
1707,160913455,Susp,2016-04-01T00:00:00,18:29,2016-04-01T18:29:00,GOA,Geary St/larkin St,SAN FRANCISCO,CA,1,Intersection
3792,160913455,Passing Call,2016-04-02T00:00:00,17:11,2016-04-02T17:11:00,Not recorded,900 Block Of Market St,SAN FRANCISCO,CA,1,Premise Address
7045,160950496,Passing Call,2016-04-04T00:00:00,6:51,2016-04-04T06:51:00,HAN,University St/felton St,SAN FRANCISCO,CA,1,Intersection
7046,160950496,Suspicious Vehicle,2016-04-04T00:00:00,6:51,2016-04-04T06:51:00,ND,1400 Block Of Cabrillo St,SAN FRANCISCO,CA,1,Premise Address
7047,160950496,Trespasser,2016-04-04T00:00:00,6:51,2016-04-04T06:51:00,CAN,Block Of Hampshire St,SAN FRANCISCO,CA,1,Premise Address

In [23]:
  '''Eliminamos los registros duplicados de la columna CrimeId '''
data.drop_duplicates(subset=['CrimeId'], inplace = True)
data.shape

(10047, 11)

In [24]:
  '''Verificamos que los valores duplicados fueron eliminados correctamente'''
data[data.duplicated(subset=['CrimeId'], keep=False)]

Empty DataFrame
Columns: [CrimeId, OriginalCrimeTypeName, OffenseDate, CallTime, CallDateTime, Disposition, Address, City, State, AgencyId, AddressType]
Index: []