In [9]:
import pandas as pd

In [10]:
df = pd.read_csv('data_act_01.csv')
df

      CrimeId;OriginalCrimeTypeName;OffenseDate;CallTime;CallDateTime;Disposition;Address;City;State;AgencyId;Range;AddressType
0      160903280;Assault / Battery;2016-03-30T00:00:0...
1      160912272;Homeless Complaint;2016-03-31T00:00:...
2      160912590;Susp Info;2016-03-31T00:00:00;16:49;...
3      160912801;Report;2016-03-31T00:00:00;17:38;201...
4      160912811;594;2016-03-31T00:00:00;17:42;2016-0...
...                                                  ...
10046  160964210;Well Being Check;2016-04-05T00:00:00...
10047  160964216;Traffic Stop;2016-04-05T00:00:00;23:...
10048  160964227;Traffic Stop;2016-04-05T00:00:00;23:...
10049  160964229;Passing Call;2016-04-05T00:00:00;23:...
10050  160964249;Traffic Stop;2016-04-05T00:00:00;23:...

[10051 rows x 1 columns]

### Error 1 Cargar mal el dataset

In [11]:
data=pd.read_csv('data_act_01.csv', sep=';')
data

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,Range,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,NaN,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,NaN,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,NaN,Intersection
...,...,...,...,...,...,...,...,...,...,...,...,...
10046,160964210,Well Being Check,2016-04-05T00:00:00,23:38,2016-04-05T23:38:00,GOA,Hollister Av/hawes St,San Francisco,CA,1,NaN,Intersection
10047,160964216,Traffic Stop,2016-04-05T00:00:00,23:43,2016-04-05T23:43:00,ADV,California St/mason St,San Francisco,CA,1,NaN,Intersection
10048,160964227,Traffic Stop,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,CIT,Rosella Ct/onondaga Av,San Francisco,CA,1,NaN,Intersection
10049,160964229,Passing Call,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,Not recorded,0 Blk Herbst Rd,San Francisco,CA,1,NaN,Geo-Override
10050,160964249,Traffic Stop,2016-04-05T00:00:00,23:54,2016-04-05T23:54:00,ADV,Grant Av/geary St,San Francisco,CA,1,NaN,Intersection

Tal y como se muestra el primer error trata de la mala sintaxis al momento de cargar el dataset con extension csv. Se detecto el problema por que al momento de cargar los datos la impresion del dataset se visualizÃ¡ de una manera inapropiada y poco entendible con las colunmas todas juntas hacia un costado y el encabezado no esta bien distribuido con la colunma especifica. Es un problema por que para empezar hacer un ejercicio  se debe primero entender de que trata el dataset pero con la impresion de dichos datos bien estructurados y asi conocer con que colunmas se van a trabajar y con cuales no son necesarias.

### Error 2 ElinaciÃ³n de la colunma Range

In [13]:
'''Ocupamos el comando drop para eliminar la colunma Range'''
data=df.drop(['Range'], axis=1)
data

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,Intersection
...,...,...,...,...,...,...,...,...,...,...,...
10046,160964210,Well Being Check,2016-04-05T00:00:00,23:38,2016-04-05T23:38:00,GOA,Hollister Av/hawes St,San Francisco,CA,1,Intersection
10047,160964216,Traffic Stop,2016-04-05T00:00:00,23:43,2016-04-05T23:43:00,ADV,California St/mason St,San Francisco,CA,1,Intersection
10048,160964227,Traffic Stop,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,CIT,Rosella Ct/onondaga Av,San Francisco,CA,1,Intersection
10049,160964229,Passing Call,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,Not recorded,0 Blk Herbst Rd,San Francisco,CA,1,Geo-Override
10050,160964249,Traffic Stop,2016-04-05T00:00:00,23:54,2016-04-05T23:54:00,ADV,Grant Av/geary St,San Francisco,CA,1,Intersection

Tal y como se muestra el segundo error trata de una colunma con valores NaN este es un valor innecesario que debe eliminarse para analizar correctamente el conjunto de datos.Se detecto el problema por que al momento de cargar los datos del dataset se visualiza la colunma Range posee puros datos Nan,entonces se decidio eliminar por que no influye en nuestro dataset.

### Error 3 Exceso de mayusculas y minusculas

In [14]:
'''Realizamos el exceso de las mayusculas y minusculas en la colunma de City, donde existen
registros con nombres: San Francisco,S,0 y seran sustituidos por SAN FRANCISCO con el comando  replace '''
data['City'] = data['City'].replace('San Francisco','SAN FRANCISCO')
data['City'] = data['City'].replace('S','SAN FRANCISCO')
data['City'] = data['City'].replace('0','SAN FRANCISCO')
data.groupby('City').count()

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,State,AgencyId,AddressType
City,,,,,,,,,,
S,1,1,1,1,1,1,1,0,1,1
Brisbane,1,1,1,1,1,1,1,1,1,1
Daly City,5,5,5,5,5,5,5,5,5,5
Presidio,3,3,3,3,3,3,3,3,3,3
SAN FRANCISCO,9666,9666,9666,9666,9666,9666,9666,9666,9666,9666
Treasure Isla,51,51,51,51,51,51,51,51,51,51
Yerba Buena,3,3,3,3,3,3,3,3,3,3

Tal y como se muestra el tercer error trata de el exceso de mayuscula y minuscula en el dataset.Se detecto el problema por que al momento de cargar los datos del dataset se lo visualiza en la colunma city registros con nombres como : San Francisco,S,0 y seran sustituidos por el nombre de SAN FRANCISCO.El principal problema de estos registros mal estructurados es que al momento de hacer una consulta el programa no se encuentre capaz de reconocer la informacion y de errores. Por ende es mejor trabajar con un mismo tipo de letra y asi no tener complicaciones al momento de hacer alguna consulta.